<% content_for :title, @task.title %>

<h1><%= @task.title %></h1>

<p><%= @task.description %></p>

<table>
  <tr>
    <th>募集人数</th>
    <td><%= @task.required_number_of_people %></td>
  </tr>
  <tr>
    <th>募集状況</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>応募締切</th>
    <td><%= @task.apply_deadline %></td>
  </tr>
  <tr>
    <th>応募中人数</th>
    <td><%= @task.applications.count %></td>
  </tr>
</table>

<% if current_user&.admin? %>
  <h2>応募一覧</h2>
  <table>
    <thead>
      <tr>
        <th>サポーター名</th>
        <th>応募状況</th>
        <th>運営依頼状況</th>
        <th>経験有無</th>
        <th>稼働可能時間</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @task.applications.each do |app| %>
        <tr>
          <td><%= app.supporter.name %></td>
          <td><%= app.application_status %></td>
          <td><%= app.request_status.presence || '未返信' %></td>
          <td><%= app.experience %></td>
          <td><%= app.uptime %></td>
          <td><%= link_to '返信', edit_application_path(app) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user&.admin? %>
  <%= link_to '編集', edit_task_path(@task) %> |
<% end %>
<%= link_to '一覧に戻る', tasks_path %>
<% if current_user&.supporter? %>
  |
  <% application = @task.applications.find_by(supporter: current_user) %>
  <% if application %>
    <% if application.request_status.nil? %>
      <%= link_to '応募内容を編集', edit_application_path(application) %>
    <% else %>
      <%= link_to '応募内容を見る', application_path(application) %>
    <% end %>
  <% else %>
    <%= link_to '応募する', new_application_path(task_id: @task.id) %>
  <% end %>
<% end %>
