<nav>
  <ul style="list-style:none;display:flex;gap:10px;padding:0;">
    <li>プロダクト名</li>
    <li><%= link_to 'タスク一覧', main_app.tasks_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to '応募一覧', '#' %></li>
    <% end %>
    <% unless user_signed_in? %>
      <li><%= link_to 'ユーザー登録', main_app.new_user_path %></li>
      <li><%= link_to 'ログイン', login_path %></li>
    <% else %>
      <% if current_user.admin? %>
        <li><%= link_to '組織設定', new_organization_setting_path %></li>
      <% elsif current_user.supporter? %>
        <li><%= link_to '組織設定', edit_organization_setting_path %></li>
      <% end %>
      <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>
